.blog-container {
    background-color: var(--color-primary);
    padding: 2rem;
    display: flex;
    gap: 2rem;
    height:100%;
    margin:  3.15rem auto;
}
.blog-input-title {
    width: 50%;
    height: 2rem;
    border: none;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
}
#blog-content {
    width:80vw;
    height: 10rem;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}
.blog-right-container button {
    background-color: var(--background-color);
    color: var(--color-primary);
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 45%;
}
.action-button {
    background-color: var(--background-color);
    color: var(--color-primary);
    border: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 10px;
}
#profile-info {
    display: flex;
    flex-direction: column;

    margin-right: 1rem;
}
#profile-info h4 {
    line-height: 10px;
}